.box{
    /* box-sizing: border-box; */
    width: 400px;
    background-color: gray;
    padding: 10px;
    border: 10px solid black;
    margin: 15px;
    color: white;

    font-size: 20px;
}

.div2{
    background-color: gray;
    color: white;
}